src/conf/xml-resources/web-services/webservice1/wsdl/liis-lab.dei.uc.pt_8080/Server.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><xs:schema xmlns:tns="http://server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server/">

<xs:element name="InsulinDoseCalculator" type="tns:InsulinDoseCalculator"></xs:element>

<xs:element name="InsulinDoseCalculatorResponse" type="tns:InsulinDoseCalculatorResponse"></xs:element>

<xs:element name="backgroundInsulinDose" type="tns:backgroundInsulinDose"></xs:element>

<xs:element name="backgroundInsulinDoseResponse" type="tns:backgroundInsulinDoseResponse"></xs:element>

<xs:element name="mealtimeInsulinDose" type="tns:mealtimeInsulinDose"></xs:element>

<xs:element name="mealtimeInsulinDoseResponse" type="tns:mealtimeInsulinDoseResponse"></xs:element>

<xs:element name="personalSensitivityToInsulin" type="tns:personalSensitivityToInsulin"></xs:element>

<xs:element name="personalSensitivityToInsulinResponse" type="tns:personalSensitivityToInsulinResponse"></xs:element>

<xs:element name="sayHelloWorldFrom" type="tns:sayHelloWorldFrom"></xs:element>

<xs:element name="sayHelloWorldFromResponse" type="tns:sayHelloWorldFromResponse"></xs:element>

<xs:complexType name="personalSensitivityToInsulin">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
<xs:element name="arg1" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="arg2" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="personalSensitivityToInsulinResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="backgroundInsulinDose">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="backgroundInsulinDoseResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mealtimeInsulinDose">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
<xs:element name="arg1" type="xs:int"></xs:element>
<xs:element name="arg2" type="xs:int"></xs:element>
<xs:element name="arg3" type="xs:int"></xs:element>
<xs:element name="arg4" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mealtimeInsulinDoseResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sayHelloWorldFrom">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sayHelloWorldFromResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsulinDoseCalculator">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="InsulinDoseCalculatorResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>