web/WEB-INF/wsdl/qcs18.dei.uc.pt_8080/insulin.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server/">

<xs:element name="backgroundInsulinDose" type="tns:backgroundInsulinDose"></xs:element>

<xs:element name="backgroundInsulinDoseResponse" type="tns:backgroundInsulinDoseResponse"></xs:element>

<xs:element name="mealtimeInsulinDose" type="tns:mealtimeInsulinDose"></xs:element>

<xs:element name="mealtimeInsulinDoseResponse" type="tns:mealtimeInsulinDoseResponse"></xs:element>

<xs:element name="personalSensitivityToInsulin" type="tns:personalSensitivityToInsulin"></xs:element>

<xs:element name="personalSensitivityToInsulinResponse" type="tns:personalSensitivityToInsulinResponse"></xs:element>

<xs:complexType name="personalSensitivityToInsulin">
<xs:sequence>
<xs:element name="physicalActivityLevel" type="xs:int"></xs:element>
<xs:element name="physicalActivitySamples" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="bloodSugarDropSamples" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="personalSensitivityToInsulinResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="backgroundInsulinDose">
<xs:sequence>
<xs:element name="bodyWeight" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="backgroundInsulinDoseResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mealtimeInsulinDose">
<xs:sequence>
<xs:element name="carbohydrateAmount" type="xs:int"></xs:element>
<xs:element name="carbohydrateToInsulinRatio" type="xs:int"></xs:element>
<xs:element name="preMealBloodSugar" type="xs:int"></xs:element>
<xs:element name="targetBloodSugar" type="xs:int"></xs:element>
<xs:element name="personalSensitivity" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mealtimeInsulinDoseResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>